# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
app/.next/
app/out/

# Hardhat artifacts
contracts/cache/
contracts/artifacts/
contracts/ignition/deployments/

# Env / secrets
.env
.env.*
