NEXT_PUBLIC_MORTAL_VAULT_ADDRESS_LOCAL=0x5FbDB2315678afecb367f032d93F642f64180aa3
NEXT_PUBLIC_MORTAL_VAULT_ADDRESS_SEPOLIA=
NEXT_PUBLIC_MORTAL_VAULT_ADDRESS_BASE_SEPOLIA=
NEXT_PUBLIC_MORTAL_VAULT_ADDRESS_BSC_TESTNET=
